/** Stylus Styles */

@import '../../node_modules/vuetify/src/stylus/settings/_colors'

$theme := {
  primary: $red.darken-2
  accent: $red.accent-2
  secondary: $grey.lighten-1
  info: $blue.lighten-1
  warning: $amber.darken-2
  error: $red.accent-4
  success: $green.lighten-2
}

@import '../../node_modules/vuetify/src/stylus/main'
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Oswald')

html, body{
  font-family: 'Oswald', sans-serif, 'Amatic SC', cursive;
}
#app {
  font-family: 'Oswald', sans-serif, 'Amatic SC', cursive;
}
.custom-loader {
  animation: loader 1s infinite;
  display: flex;
}
.rounded-card{
  border-radius: 10px
}
.bottom-btn-abs{
  position: fixed;
  bottom: 1rem;
}

@-moz-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
